{% extends 'base.html' %}
{% block content %}

<section class="section-conten padding-y bg">

    <div class="container">
        <div class="row">

        {% include 'includes/dashboard-sidebar.html' %}
        
        <main class="col-md-9">
            <article class="card">
            <header class="card-header d-flex justify-content-between">
                <strong class="d-inline-block mr-3">Change Password</strong>
            </header>
            <div class="card-body">
               
                <form action="" method="POST">
                {% csrf_token %}
                    <div class="row">
                        <div class="col-md-4 mb-2">
                            <label>Current Password</label>
                            <input type="password" class="form-control" name="current_password" required>
                        </div>
                        <div class="col-md-4 mb-2">
                            <label>New password</label>
                            <input type="password" class="form-control" name="new_password" required>
                        </div>
                        <div class="col-md-4 mb-2">
                            <label>Confirm Password</label>
                            <input type="password" class="form-control" name="confirm_password" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success mt-2">Change Password</button>
                </form>

            </div> <!-- card-body .// -->
            <div class="table-responsive">
            <table class="table table-hover">
                
            </table>
            </div> <!-- table-responsive .end// -->
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>

{% endblock content %}