{% extends 'base.html' %}
{% block content %}

<section class="section-conten padding-y bg">

    <div class="container">
        <div class="row">

        {% include 'includes/dashboard-sidebar.html' %}
        
        <main class="col-md-9">
            <article class="card">
            <header class="card-header d-flex justify-content-between">
                <strong class="d-inline-block mr-3">Change your picture</strong>
            </header>
            <div class="card-body">
               <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                    <div>
                        <img class="img-thumbnail rounded-circle me-2 mb-3" src="{{user.profile_pictureUrl}}" alt="Profile Picture" width="110">
                        <br>
                        <input type="file" name="profile_picture" required>
                    </div>

                    <button class="btn btn-success mt-3" type="submit">Submit</button>
                </form>

            </div> <!-- card-body .// -->
            <div class="table-responsive">
            <table class="table table-hover">
                
            </table>
            </div> <!-- table-responsive .end// -->
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>

{% endblock content %}