{% extends 'base.html' %}
{% block content %}

<section class="section-conten padding-y bg">

    <div class="container">
        <div class="row">

        {% include 'includes/dashboard-sidebar.html' %}
        
        <main class="col-md-9">
            <article class="card">
            <header class="card-header d-flex justify-content-between">
                <strong class="d-inline-block mr-3">Logged In as: {{request.user.name}}</strong>
                <span>Last Login: {{request.user.last_login|date}}</span>
            </header>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8">
                        
                    </div>
                    <div class="col-lg-4">
                        <div class="card p-3">
                            <div class="d-flex align-items-center flex-column">
                                <img class="rounded-circle me-2 mb-3 img-thumbnail" src="{{user.profile_picture.url}}" alt="Profile Picture" width="75">
                                <p class="d-flex align-items-center"><i class="fa-solid fa-envelope me-1"></i>{{request.user.email}}</p>
                                <p>{{request.user.phone_number}}</p>
                            </div>
                        </div>
                    </div>
                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
            <div class="table-responsive">
            <table class="table table-hover">
                
            </table>
            </div> <!-- table-responsive .end// -->
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>

{% endblock content %}