{% load static %}
<!-- showcase -->
<section id="banner">
    <div class="container my-3">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'images/fortnite-banner.jpeg' %}" class="banner-image d-block w-100 position-relative" alt="Fortnite: Season 3">
                    <div class="showcaseImage-layer"></div>
                    <div class="carousel-caption">
                        <h3>Fortnite: Season 3</h3>
                        <p>Play Fortnite and enjoy with gamely for free.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/naraka-banner.jpg' %}" class="banner-image d-block w-100 position-relative" alt="Fortnite: Season 3">
                    <div class="showcaseImage-layer"></div>
                    <div class="carousel-caption">
                        <h3>Naraka: Bladepoint</h3>
                        <p>Unchained multiplayer action adventure game.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/amongus-banner.webp' %}" class="banner-image d-block w-100 position-relative" alt="Fortnite: Season 3">
                    <div class="showcaseImage-layer"></div>
                    <div class="carousel-caption">
                        <h3>Among Us</h3>
                        <p>Prepare for being a imposter among us.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>
<!-- showcase -->