{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'includes/showcase.html' %}

<!-- products -->
<section id="products">
    <div class="container my-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="fw-bold">Games</h2>
            <a class="btn btn-outline-primary" href="{% url 'store' %}">See all</a>
        </div>
        <div class="products-items" id="autoWidth" class="cs-hidden">
            {% for product in products %}
            <div class="item-a product-item">
                <img class="product-img" src="{{product.image.url}}" alt="{{product.name}}">
                <div class="product-details">
                    <p>{{product.name}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- products -->

<!-- categories -->
<section id="categories">
    <div class="container my-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="fw-bold">Category</h2>
            <a class="btn btn-outline-primary" href="{% url 'store' %}">See all</a>
        </div>
        <div id="autoWidth-category" class="cs-hidden">
            {% for category in categories %}
            <div class="item-a position-relative">
                <a href="{% url 'product_by_catory' category.slug %}">
                    <div class="card category-item">
                        <small class="category-name">{{category.category}}</small>
                        <img class="cat-image" src="{{category.image.url}}">
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- categories -->

{% endblock content %}