{% extends 'base.html' %}
{% block content %}

<!-- product -->
<section>
    <div class="container my-5">
        <div class="">

                <div class="single-product-item">
                    <img class="product-img" src="{{product.image.url}}" alt="{{product.name}}">
                    <h5 class="fw-bold mt-2 d-inline me-1">{{product.name}}</h5><span>&#40;{{product.averageReview}}&#41;</span>
                    <p class="mb-2">Price: {{product.price}}$</p>
                </div>

                <div class="product-description w-50">
                    <h5 class="fw-bold">Description</h5>
                    <p>{{product.description|linebreaksbr}}</p>
                </div>

                <div class="product-description w-25">
                    {% if in_cart %}
                    <a class="btn btn-success rounded addtocart-btn" href="{% url 'cart' %}">Added to Cart &check;</a>
                    {% else %}
                    <a class="btn btn-success rounded addtocart-btn" href="{% url 'add_cart' product.id %}">Add to Cart +</a>
                    {% endif %}
                </div>

                <div class="mt-3 w-50">
                    {% if request.user.is_authenticated %}
                    <form action="{% url 'submit_review' product.slug %}" method="POST">
                    {% else %}
                    <form>
                    {% endif %}
                        {% csrf_token %}
                        <h5>Write your review</h5>
                        <div>
                            <!-- Rating stars -->
                            <label for="">How do you rate this product?</label>
                            <br>
                            <div class="rate">
                                <input type="radio" name="rating" id="rating10" value="5" required><label for="rating10" title="5"></label>
                                <input type="radio" name="rating" id="rating9" value="4.5" required><label for="rating9" title="4.5" class="half"></label>
                                <input type="radio" name="rating" id="rating8" value="4" required><label for="rating8" title="4"></label>
                                <input type="radio" name="rating" id="rating7" value="3.5" required><label for="rating7" title="3.5" class="half"></label>
                                <input type="radio" name="rating" id="rating6" value="3" required><label for="rating6" title="3"></label>
                                <input type="radio" name="rating" id="rating5" value="2.5" required><label for="rating5" title="2.5" class="half"></label>
                                <input type="radio" name="rating" id="rating4" value="2" required><label for="rating4" title="2"></label>
                                <input type="radio" name="rating" id="rating3" value="1.5" required><label for="rating3" title="1.5" class="half"></label>
                                <input type="radio" name="rating" id="rating2" value="1" required><label for="rating2" title="1"></label>
                                <input type="radio" name="rating" id="rating1" value="0.5" required><label for="rating1" title="0.5" class="half"></label>
                            </div>
                            <br>
                            
                            Review Title:
                            <input type="text" class="form-control" name="subject" required>
                            <br>
                            Review:
                            <textarea name="review" class="form-control" rows="4"></textarea>
                            <br>
                            {% if request.user.is_authenticated %}
                            {% if order_product %}
                            <input type="submit" class="btn btn-primary" value="Submit">
                            {% else %}
                            <p>You must purchase this product to post a review.</p>
                            {% endif %}
                            {% else %}
                            <p>You must be logged in to post a review. <a href="{% url 'login' %}">Login Now</a></p>
                            {% endif %}
                        </div>
                    </form>

                    <!--customer reviews-->
                    <h3 class="mt-5 mb-1">Reviews</h3>
                    <div class="customer-review">
                        <p class="fw-bold">{{review.user.first_name}} {{review.user.last_name}}</p>{{review.rating}}
                        <!-- star -->
                        <i class="bi bi-{% if product.averageReview < 0.5 %}star{% elif product.averageReview >= 0.5 and product.averageReview < 1 %}star-half{% else %}star-fill{% endif %}"></i>
                        <i class="bi bi-{% if product.averageReview < 1.5 %}star{% elif product.averageReview >= 1.5 and product.averageReview < 2 %}star-half{% else %}star-fill{% endif %}"></i>
                        <i class="bi bi-{% if product.averageReview < 2.5 %}star{% elif product.averageReview >= 2.5 and product.averageReview < 3 %}star-half{% else %}star-fill{% endif %}"></i>
                        <i class="bi bi-{% if product.averageReview < 3.5 %}star{% elif product.averageReview >= 3.5 and product.averageReview < 4 %}star-half{% else %}star-fill{% endif %}"></i>
                        <i class="bi bi-{% if product.averageReview < 4.5 %}star{% elif product.averageReview >= 4.5 and product.averageReview < 5 %}star-half{% else %}star-fill{% endif %}"></i>
                        <span>&#40;{{product.countReview}} Review{{product.countReview|pluralize:"s"}}&#41;</span>
                    </div>
                    {% for review in reviews %}
                    <div class="card mt-3 p-2">
                        <div class="d-flex align-items-center mb-2">
                            <img class="rounded-circle me-2" src="https://www.w3schools.com/howto/img_avatar.png" alt="User Icon" width="50px">
                            <div class="customer-review">
                                <p class="fw-bold">{{review.user.first_name}} {{review.user.last_name}}</p>{{review.rating}}
                                <!-- star -->
                                <i class="bi bi-{% if review.rating < 0.5 %}star{% elif review.rating < 1 %}star-half{% else %}star-fill{% endif %}"></i>
                                <i class="bi bi-{% if review.rating < 1.5 %}star{% elif review.rating < 2 %}star-half{% else %}star-fill{% endif %}"></i>
                                <i class="bi bi-{% if review.rating < 2.5 %}star{% elif review.rating < 3 %}star-half{% else %}star-fill{% endif %}"></i>
                                <i class="bi bi-{% if review.rating < 3.5 %}star{% elif review.rating < 4 %}star-half{% else %}star-fill{% endif %}"></i>
                                <i class="bi bi-{% if review.rating < 4.5 %}star{% elif review.rating < 5 %}star-half{% else %}star-fill{% endif %}"></i>
                            </div>
                            <p class="ms-auto">{{review.created|date}}</p>
                        </div>
                        <div>
                            <p>{{review.subject}}</p>
                            <p>{{review.review|linebreaksbr}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>

        </div>
    </div>
</section>

{% endblock content %}