{% extends 'base.html' %}
{% block content %}

<!-- product -->
<section>
    <div class="container my-5">
        <div class="">
        
                <div class="single-product-item">
                    <img class="product-img" src="{{product.image.url}}" alt="{{product.name}}">
                    <h5 class="fw-bold mt-2">{{product.name}}</h5>
                    <p class="mb-2">Price: {{product.price}}$</p>
                </div>

                <div class="product-description w-50">
                    <h5 class="fw-bold">Description</h5>
                    <p>{{product.description|linebreaksbr}}</p>
                </div>

                <div class="product-description w-25">
                    {% if in_cart %}
                    <a class="btn btn-success rounded addtocart-btn" href="{% url 'cart' %}">Added to Cart &check;</a>
                    {% else %}
                    <a class="btn btn-success rounded addtocart-btn" href="{% url 'add_cart' product.id %}">Add to Cart +</a>
                    {% endif %}
                </div>

        </div>
    </div>
</section>

{% endblock content %}