{% extends 'base.html' %}
{% block content %}

<!-- products -->
<section id="products">
    <div class="container my-5">
        <!---->
        {% for category in category_links %}
        <a style="margin-right:0.5rem" href="{{category.url}}">{{category}}</a>
        {% endfor %}
        <!---->
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h3 class="display-6">Games</h3>
        </div>
        <div class="products-items row">
            {% for product in products %}
            <div class="col-md-2 mb-3">
                <div class="product-item">
                    <img class="product-img" src="{{product.image.url}}" alt="{{product.name}}">
                    <div class="product-details">
                        <p>{{product.name}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- products -->

{% endblock content %}