{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- products -->
<section id="products">
    <div class="container my-5">
        <!-- categories -->
        <section id="categories">
            <div class="container my-5 ps-0">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h2 class="fw-bold">Category</h2>
                    <a class="btn btn-outline-primary" href="{% url 'store' %}">See all</a>
                </div>
                <div class="row">
                    <div class="col-md-2 position-relative">
                        <a href="{% url 'store' %}">
                            <div class="card category-item">
                                <small class="category-name">All Games</small>
                                <img class="cat-image" src="{% static 'images/cat-bg.jpg' %}">
                                <div class="cat-image-layer"></div>
                            </div>
                        </a>
                    </div>
                    {% for category in category_links %}
                    <div class="col-md-2 position-relative">
                        <a href="{% url 'product_by_catory' category.slug %}">
                            <div class="card category-item">
                                <small class="category-name">{{category.category}}</small>
                                <img class="cat-image" src="{{category.image.url}}">
                                <div class="cat-image-layer"></div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- categories -->

        <!---->
        <div class="d-flex justify-content-between align-items-center mb-3">
            {% if category %}
            <h3 class="display-6">{{category}}</h3>
            {% else %}
            <h3 class="display-6">All Games</h3>
            {% endif %}
        </div>
        <div class="products-items row">
            {% for product in products %}
            <div class="col-md-2 mb-3">
                <div class="product-item">
                    <img class="product-img" src="{{product.image.url}}" alt="{{product.name}}">
                    <div class="product-details">
                        <p>{{product.name}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- products -->

{% endblock content %}